footer{
    background-color: rgb(15, 15, 15);
    color: white;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
}
footer .redes a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
}
.redes nav a + a::before {
    content: "|";
    margin: 0 10px;
}