header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
}
header a {
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 8px;
    color: black;
    font-weight: bold;
    font-size: 16px;
}
header a:hover {
    background-color: #eaeaea;
}
.lado_derecho{
    display: flex;
    align-items: center;
    gap: 15px;
}
.buscador{
    transition: background-color 0.2s ease;
    background-color: gray;
    border-radius: 12px;
    display: flex;
    align-items: center;
}
.buscador input {
    border: none;
    background-color: transparent;
    padding: 10px;
    border-radius: 12px;
}
.buscador select { 
    border: none;
    background-color: transparent;
    
}
.buscador input::placeholder {
    color: black;
}
.buscador:hover {
    background-color: lightgray;
}
nav{   
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.buscador input:focus, .buscador select:focus {
    outline: none;
}
button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
