.seccion-productos {
    padding: 20px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.seccion-productos ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
}
.seccion-productos li {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}
.seccion-productos li:hover {
    box-shadow: 0 4px 10px rgba(10, 10, 10, 0.2);
    background-color: #dfdfdf;
    
}
.producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.producto img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
button {
    border: 0.5px solid black;
    background-color: rgb(30, 214, 30);
    color : white;
    padding: 8px 12px;
    cursor: pointer;
}
button:hover {
    background-color: rgb(12, 150, 12);
    transition: background-color 0.3s ease;
}
.venta{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr;
    width: min(1000px, 100%); 
    gap: 0;
    height: min(1000px, 100%);
    margin: 10px 10px 100px 10px;
    border: 1px solid black
}
.venta img{
    grid-column: 1 / 2; 
    grid-row: 1 / 3; 
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    border-right: 1px solid black;
}
.venta .texto_juego {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 8px;
    border-bottom: 1px solid black;
}
.venta .texto_juego{
    text-align: center;
}
.venta button {

    width: 40%;
    height: 20%;
    place-self: center;
}